@using EPiServer.Core
@using EPiServer.Web.Mvc.Html

@model DillonWallsC2Episerver.Models.Pages.HomePage


<head>
    <link href="/Static/style.css" rel="stylesheet" type="text/css" />
</head>


<header id="site-header">
    <a class="site-logo" href="/">Technology Blog</a>
    <button id="site-menu-button" class="btn"> Menu <i class="i-bars"></i> </button>
    <nav id="site-menu">
        <a href="/">Home</a>
        <a href="/about.html">About</a>
        <a href="/sample-post.html">
            Sample
            Post
        </a>
        <a href="/contact.html">Contact</a>
    </nav>
</header>

<section @Html.EditAttributes(x => x.BannerImage) class="page-intro centered" style="background-image: url('@Url.ContentUrl(Model.BannerImage)')">
    <h1 class="with-line">@Html.PropertyFor(m => m.Title)</h1>
    <h2>@Html.PropertyFor(m => m.SubTitle)</h2>
</section>

@*<article>
        <div class="body">
            @Html.PropertyFor(m => m.MainBody)
        </div>
    </article>*@


<footer>
    <div class="social-media-links">
        <div class="circle"><a href="https://www.twitter.com"><i class="i-twitter"></i></a></div>
        <div class="circle"><a href="https://www.facebook.com"><i class="i-facebook"></i></a></div>
        <div class="circle"><a href="https://www.github.com"><i class="i-github"></i></a></div>
    </div>Copyright &copy; Your Website 2016
</footer>
<script src="~/Static/main.js"></script>